:root {
  /* --shadow: rgba(134, 134, 134, 0.2) 0px 7px 20px 0px; */
  --accent-color: #d500f9;
  /* --accent-color: #0081f9; */
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000;
  color: #fff;
  /* font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Poppins", sans-serif;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.nav {
  text-align: end;
  /* margin-bottom: 30px; */
  align-self: flex-end;
  justify-content: flex-end;
  margin: 0 10px;
}

.nav-button {
  padding: 0px 10px;
  margin: 20px 10px;
  /* max-height: 3vh; */
  min-height: 5vh;
  background-color: transparent;
  color: #fff;
  justify-self: end;
  border: none;
}

.nav-button:hover {
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: background-color 0.6s ease;
  color: #fff;
}

.dev-icons-list {
  list-style: none;
  font-size: 4em;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.about-me {
  max-width: 60vw;
  margin: 0 auto;
}

.about-me-header {
  letter-spacing: 2.5px;
  color: var(--accent-color);
  margin: 0;
}

.about-me > p {
  color: #868e96;
  font-style: italic;
  margin: 0;
}

.about-me > p:hover {
  color: #dadbdb;
  transition: color 0.6s ease;
}

.dev-icons {
  display: inline-block;
}

.dev-icons > p {
  font-size: 10px;
}

.text-1em {
  font-size: 1em;
}
.intro-text {
  letter-spacing: 1px;
  color: #868e96 !important;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}
.social-icons {
  font-size: 50px;
}
.header-text-logo {
  font-family: Agustina;
  font-size: 1.5em;
  color: var(--accent-color);
}

.custom-link,
.custom-link:hover {
  /* color: var(--accent-color); */
  text-decoration: none;
}

.custom-link > * {
  padding: 0 10px;
}

.header-text {
  font-size: 1.5em;
  color: grey;
}

.title {
  margin-bottom: 0;
  letter-spacing: 3px;
  color: var(--accent-color);
}

h2.title {
  letter-spacing: 2px;
  margin-top: 5px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  align-content: center;
  flex-direction: column;
  align-self: center;
  /* height: calc(100vh); */
}

.intro-section > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.footer {
  /* height: 80px; */
  padding: 30px;
  /* margin-top: -20px;intro-section */
}
.footer > h4 {
  letter-spacing: 1.8px;
  font-weight: 500;
  margin: 0;
}

/* .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
} */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.achievements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;
  width: Max(25vw, 200px);
  /* box-shadow: var(--shadow); */
  /* flex-basis: auto; */
}

.achievement-card > div > h3,
h4 {
  margin: 0;
}

.achievement-card > div > span > a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.achievement-text {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  background-color: #272727;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px 20px;
  width: 30vw;
  flex-basis: auto;
}

.card-text {
  display: inline-block;
  padding: 0 10px;
}

.card-text > h3 {
  margin: 0;
}

/* .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.projects {
  display: grid;
  padding: 30px;
  /* row-gap: 30px; */
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  /* grid-auto-rows: 175px; */
  grid-auto-flow: row dense;
  align-items: center;
  justify-items: center;
}

.grid-large {
  grid-row-end: span 3;
}

.grid-medium {
  grid-row-end: span 2;
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #272727;
  border-radius: 10px;
  margin: 10px 10px;
  /* padding: 0 0 10px 0; */
  width: Max(25vw, 200px);
  /* box-shadow: var(--shadow); */
  /* flex-basis: auto; */
}

.project-card > img {
  width: Max(25vw, 200px);
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.project-card > div {
  padding: 10px 10px;
  text-align: center;
}

.project-card > div > a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.project-card > div > a:hover {
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.tag {
  display: inline-block;
  padding: 0 10px;
  border-color: var(--accent-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-radius: 5px;
  margin: 5px 10px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding: 7px 4px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10vh;
}

.form > .row {
  width: 70vw;
  justify-content: space-between;
}

.form > * > .p {
  margin: 0;
}

.form > .row > div > input {
  width: 30vw;
}

.form > div {
  width: 70vw;
}

.form-btn {
  width: 30vw;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 10px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

input {
  height: 30px;
  padding: 0 10px;
}

textarea {
  padding: 10px;
}

input,
textarea {
  width: calc(70vw - 20px);
  font-size: 15px;
  color: #c7c7c7;
  background-color: #272727;
  border: none;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 10vh; */
}

.contact-section {
  /* padding: 10vh 10vw; */
  text-align: center;
  padding: 0 10vh 2px 10vh;
  background-color: #000;
  color: #969696;
}

.contact-details {
  line-height: 9px;
  color: #868e96;
  font-size: 20px;
}

.loc {
  display: inline-block;
  /* font-size: 1.5em; */
  color: #d3d3d4;
  background-color: var(--accent-color);
  padding: 7px 10px;
  margin: 15px 0;
  border-radius: 5px;
  width: fit-content;
}

footer {
  background-color: #000;
  color: #969696;
  padding: 5vh 10vw;
  text-align: center;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  /* background: orange; */
  background-color: #272727;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
  /* border: 3px solid orange; */
}

.Navbar {
  /* background-color: #46acc2; */
  display: none;
  padding: 16px;
  /* font-family: sans-serif; */
  /* color: white; */
}

.Navbar__Link {
  align-self: center;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
}

.Navbar__Link:hover {
  color: var(--accent-color);
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}
.social-menu ul {
  /* position: absolute; */
  justify-content: center;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 15dp;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 25px;
  line-height: 50px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(107, 107, 107);
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #0077b5;
}
